<div class="row">
  <div class="col-md-6">
    <h2 class="text-color">Create New Post</h2>

    <form class="form createpost-form">
      <div class="form-group">
        <label class="text-color" for="title-createpost">Title</label>
        <input class="form-input" type="text" id="title-createpost" />
      </div>
      <div class="form-group">
        <label class="text-color" for="content-createpost">Content</label>
        <textarea class="form-input" type="text" id="content-createpost"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary text-color" type="submit">Create</button>
      </div>
    </form>
  </div>

<script src="/js/createpost.js"></script>