<!-- Loop over each object in the blogposts array -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <h1><span class="navbar-brand badge bg-secondary">Your Dashboard</span></h1>
  </div>
</nav>
{{#each blogposts as |blogpost| }}
<div class="d-flex justify-content-center">
  <div class="card w-75 mb-3 m-2">
    <a href="/blogpost/{{blogpost.id}}" class="card-header d-flex justify-content-between text-decoration-none">
      <h5>{{blogpost.title}}</h5>
      <span class="text-muted small">{{format_date blogpost.date_created}}</span>
    </a>
  </div>
</div>
{{/each}}
<div class="text-center mt-3">
  <a href="/createpost" class="btn btn-primary active" role="button">+ New Post</a>
</div>


