<div class="row">
  <div class="col-md-6">
    <h2 class="text-color">Edit Post</h2>

    <form class="form editpost-form">
      <div class="form-group">
        <label class="text-color" for="title-editpost">Title</label>
        <input class="form-input" type="text" value="{{title}}" id="title-editpost" />
      </div>
      <div class="form-group">
        <label class="text-color" for="content-editpost">Content</label>
        <textarea class="form-input" type="text" data-id="{{id}}" id="content-editpost">{{content}}</textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary text-color" type="submit">Update Post</button>
        <button class="btn btn-sm btn-danger" data-id="{{id}}">Delete</button>
      </div>
    </form>
  </div>

<script src="/js/editpost.js"></script>